.contact__form{
    text-align: center;
    .contact__fieldset{
        padding: 15px 20px 10px 20px;
        .contact__legend{
            font-weight: bold;
        }
        .contact__label,.contact__input,.contact__select{
            width: 100%;
            display: block;
        }
        .contact__textarea{
            resize:none;
            width: 100%;
        }
        .contact__input-submit{
            border: 2px solid black;
            background-color: beige;
            transition: 0.3s;
            font-size: 0.8em;
            &:hover{
                border: 2px solid white;
                background-color: black;
                color: white;
                transition: 0.5s;
            }
        }
    }
}  

