.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(white,grey);
    &__title{
        font-family: 'Pacifico', cursive;     
    }
    &__infoList{
        list-style-type: none ;
        padding-bottom: 5px;
        .contact__infoItem{
            position: relative;
            // padding-bottom: 5px;
            margin-bottom: 5px;
            &:before{
                position: absolute;
                top: 50%;
                left: -5%;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgb(245, 245, 220);
                transform: translateY(-50%);
            }
        }
    }
}