.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10% 20% 5% 15%;
    margin: 0 5px 25px 5px;
    padding: 0 20px 10px 20px;

    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid beige;
    box-shadow: 5px 5px 10px black;

    color: rgb(182, 182, 182);
    &__title{
        font-family: 'Pacifico', cursive; 
        font-size: 2em;    
    }
}
@media (min-width: 370px) and (min-height:812px){
    .contact{
        margin-top: 50px;
        height: 70vh;
    }
}

@media (orientation:landscape){
    .contact{
        width: 70%;
    }
}

@media (min-width: 414px) {
    .contact{
        width: 80%;
    }
}
@media (min-width: 576px) {
    .contact{
        width: 70%;
        font-size: 20px;
    }
}
@media (min-width: 1200px) {
    .contact{
        font-size: 25px;
    }
}
@media (min-width: 1366px) {
    .contact{
        font-size: 30px;
    }
}
@media (min-width: 1400px) {
    .contact{
        height: 90%;
    }
}
@media (min-width: 1530px) {
    .contact{
        height: 80%;
    }
}
@media (min-width: 1915px) {
    .contact{
        width: 60%;
        height: 80%;
        margin-top: 100px;
    }
}