@keyframes fontColor {
    20% {
        color: aqua;
    }

    40% {
        color: grey;
    }

    60% {
        color: pink;
    }

    80% {
        color: blueviolet;
    }

    100% {
        color: black;
    }
}
