.page{
    position: relative;
    z-index: -1;
    height: 100%;
    background-image: url('../images/panels_small-min.jpeg');
    background-size: 20% 100%;
    &:after{
        position: absolute;
        bottom: 0;
        left: 50%;
        content: "";
        width: 90%;
        height: 1px;
        border-bottom: 3px solid black;
        border-radius: 20%;
        transform: translateX(-50%);
    }
}