.page{
    width: 60%;
    // height: 30%;
    opacity:0;
    animation: changeOpacityStartPage 0.5s 2.5s both;
    &__wrapper{
        background-color: rgba(255, 0, 0, 0.692);
        border: 2px solid black;
        box-shadow: 0px 0px 25px 10px rgb(0, 0, 0);
        text-align: center;
    }
    &__slider{
        width: 120%;
        background-color: white;
    }
}