.nav__list{
    display: flex;
    list-style: none;
    .nav__item{
        // width: 25%;
        text-align: center;
        .nav__link{
            display: block;
            color: black;
            text-decoration: none;
            padding: 5px;
            font-size: 16px;
            &.active{
                border-bottom: 2px solid black;
            }
       }
    }
}