.servicesPage{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 75%;
    overflow: scroll;
    &__wrapper{
        flex-wrap: wrap;
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }  
    &::-webkit-scrollbar { 
        display: none; 
    }
}