*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__header{
        position:absolute;
        
        top: 40%;
        left:50%;
        width: 75vmin;
        height: 75vmin;
        transform: translate(-50%,-50%);
        // &-animation{
        animation: changePositionOfHeader 2s both 1s;
        // }
        // &-withoutAnimation{
        //     animation: none;
        //     top:0;
        //     left:0;
        //     width: 30vmin;
        //     height: 30vmin;
        //     font-size: 6px;
        //     transform: translate(0,0) rotate(-360deg);
        // }
        z-index: 1;
    }
    &__nav{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        border-left: 2px solid black;
        // border-bottom: 2px solid transparent;
        background-color: beige;
    }
    &__page{
        // flex-basis: 110vh;
        min-height: 110vh;
        display: flex;        
        .container__aside{
            display: none;
            flex-basis: 10%;
            &:first-child{
                background-color: hotpink;
            }
            &:last-of-type{
                order: 1;
                background-color: blue;
            }
        }
        .container__section{
            flex-grow:1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .container__centerOfPage{
                flex-grow: 1;
                 
                position: relative;

                display: flex;
                justify-content: center;
                align-items: flex-end;
                
                background-image: url('../images/panels_small-min.jpeg');
                background-size: 20% 100%;
                &:after{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    content: "";                        
                    width: 90%;
                    height: 1px;
                    border-bottom: 3px solid black;
                    border-radius: 20%;
                    transform: translateX(-50%);
                }
            }
            // .container__contact{      
            // } 
        }
    }
}