*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: green;
    &__header{
        position:absolute;
        top: 20%;
        left:30%;
    }
    &__nav{
        position:absolute;
        top: 0;
        right: 10%;
    }
    &__page{
        flex-basis: 80vh;
        display: flex;
        // background-color: white;
        
        .container__aside{
            flex-basis: 10%;
            height: 100vh;
            background-color: yellow;
            &:first-child{
                background-color: hotpink;
            }
            &:last-of-type{
                order: 1;
                 background-color: blue;
            }
        }
        .container__section{
            flex-grow:1;
            background-color: white;
        }
    }
    .container__contact{      
        height: 20vh;  
    background-color: grey;
    }
    
}