.servicesPage__service{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    background: linear-gradient(50deg,beige 10%,grey);
    border: 3px solid black;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 5px;
    .servicePage__title{
        margin-bottom: 5px;
    }
    .service__wrapper{
        display: flex;
    }
    img{
        width: 100px;
        border: 2px solid black;
        border-radius:20px;
    }
}