.servicesPage__service{
    @include basicStyle;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5px;
    .servicePage__title{
        margin-bottom: 5px;
    }
    .service__wrapper{
        display: flex;
    }
    .service__img{
        width: 100px;
        border: 2px solid black;
        border-radius:20px;
    }
}
@media (orientation: landscape) {
    .servicesPage__service{
        .service__wrapper{
            font-size: 20px;
        }
    }
}
@media (min-width: 1024px) {
    .servicesPage__service{
        padding: 5px;
        margin-bottom: 80px;
        .servicePage__title{
            font-size: 25px; 
        }
        .service__wrapper{
            font-size: 24px;
        }
        .servicePage__title{
            margin-bottom: 10px;
        }
    }
}
@media (min-width: 1366px) {
    .servicesPage__service{
        padding: 7px;
        margin-bottom: 50px;
        .servicePage__title{
            font-size: 29px; 
        }
        .service__wrapper{
            font-size: 27px;
        }
    }
}
@media (min-width: 1915px) {
    .servicesPage__service{
        padding: 7px;
        margin-bottom: 50px;
        .servicePage__title{
            font-size: 31px; 
        }
        .service__wrapper{
            font-size: 29px;
        }
    }
}
