.slider {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 30vh;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid black;
    &__wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        transition: transform  0.45s;
    }
}
@media (min-width: 370px) and (min-height:812px){
    .slider {
        height: 45vh;
    }
}
@media (orientation: landscape) {
    .slider {
        height: 70vh;
        margin-bottom: 10px;
    }
}
@media (min-width: 414px) and (orientation:portrait) {
    .slider {
        height: 45vh;
    }
}
@media (min-width: 1915px) {
    .slider {
        height: 70vh;
        width: 50vw;
    }
}